{% extends 'school_manage_template.html' %}
{% load staticfiles %}
{% block db_main_style %}
    <link rel="stylesheet" href="{% static 'css/school_manage_add_student.css' %}">
{% endblock %}

{% block db_main_body%}
    <div>
    <form action="" method="post">
        <div class="d1 styd1">
            <table>
                <tr>
                    <td>
                        姓名:
                    </td>
                    <td>
                        <input type="text" name="student_name">
                    </td>
                </tr>
                <tr>
                    <td>性别:</td>
                    <td>
                        <label for="gm">男<input class="radio" id="gm" type="radio" name="gender" value="0"></label>
                        <label for="gn">女<input class="radio" id="gn" type="radio" name="gender" value="1"></label>
                    </td>
                </tr>
                <tr>
                    <td>学生电话: </td>
                    <td>
                       <input type="text" name="student_tel">
                    </td>
                </tr>
                <tr>
                    <td>注册日期:</td>
                    <td>
                        <input type="date" name="register_date"">
                    </td>
                </tr>
                <tr>
                    <td>生源类型:</td>
                    <td>
                        <select name="student_type" id="select">
                            <option value="0">统招</option>
                            <option value="1">成考</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>身份证:</td>
                    <td>
                        <input type="text" name="id_card">
                    </td>
                </tr>
            </table>
        </div>
        <div class="d1 styd2">
            <table>
                <tr>
                    <td>户籍所在地: </td>
                    <td>
                        <input type="text" name="location_of_household_registration">
                    </td>
                </tr>
                <tr>
                    <td>第二联系人: </td>
                    <td>
                        <input type="text" name="tel_two" >
                    </td>
                </tr>
                <tr>
                    <td>专业:</td>
                    <td>
                        {#后期改成数据库取数据#}
                        <select name="major" id="select">
                            <option value="Python">Python</option>
                            <option value="Java">Java</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>现居住地: </td>
                    <td>
                        <input type="text" name="address">
                    </td>
                </tr>
                <tr>
                    <td>状态:</td>
                    <td>
                        <label for="st1">在读<input class="radio" id="st1" type="radio" name="status" value="0"></label>
                        <label for="st2">毕业<input class="radio" id="st2" type="radio" name="status" value="1"></label>
                    </td>
                </tr>
                <tr>
                    {#后期修改备注狂大小#}
                    <td>备注：</td>
                    <td><input type="text" name="market"></td>
                </tr>
            </table>
        </div>
        <input class='sbm' type="submit" value="下一个" name="sbm">
        <input class='sbm' type="submit" value="提交保存" name="sbm">
        {% csrf_token %}
    </form>
     </div>
{% endblock %}

